<!DOCTYPE html>
<html>
  {% if connected == False %}
  <script>
    window.location = "{{APP_URL}}login"
  </script>
  {% endif %}
  {% include "nav_bar.html" %}
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <!-- import our custom css -->
    <link type="text/css" rel="stylesheet" href="css/index.css"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <div class="holder">
      <iframe
        src="https://www.youtube.com/embed/{{vid}}?autoplay={{autoplay}}&loop={{loop}}">
      </iframe>
    </div>

    <div class="fixed-action-btn">
      <a href="{{APP_URL}}"><i class="large material-icons red-text">navigate_next</i></a>
    </div>

  </body>
</html>
